{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Post a Concert{% endblock %}

{% block body_block %}
    <h1>Post a concert</h1>
		<form id="concert_form" method="post" action="/artist/{{ artist.slug }}/postconcert/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
               <p> {{ field.errors }} </p>
               <p> {{ field.help_text }}
                {{ field }} </p>
            {% endfor %}

            <input type="submit" name="submit" value="Create Concert" />
        </form>
{% endblock %}
